{{!-- The following component displays Ember's default welcome message. --}}
<form name="contact" method="post">
  <input type="hidden" name="form-name" value="contact" />
  <h2>Join the Waitlist</h2>
  <p>
    <label>Name: <input type="text" name="name" /></label>
  </p>
  <p>
    <label>Email: <input type="email" name="email" /></label>
  </p>
  <p>
    <button type="submit" class="button">Sends</button>
  </p>
</form>
{{!-- Feel free to remove this! --}}

{{outlet}}